
.container{
    width: 100%;
  

}
body{
    
margin: 0px;
}


.clear{
    clear: both;
}
.header{
    width: 100%;
    background-color: #0b3545;       
    position: absolute;
    top:0; left: 0;  
    display: flex;
  

}
.logo{
    display: inline-block;
    width: 30%;
    position: relative;
  
}
.logo img{
    height: 54%;
    width: 30%;
    margin-left: 300px;
    position: relative;
}

.links{
    display: inline-block;
    width: 29%;
    position: relative;
    margin-top: 7px;

   
    
}
.links ul li{
    display: inline-block;
    margin-right: 10px;
    
}
.not-local{
  color: white;
  text-decoration: none;
    
}
.local{
    color: #e6905a;
    text-decoration: none;
}
.image{
    margin-top: 90px;
    margin-bottom: 217px;
    /*position: relative;*/
}
.image img{
    height: 70%;
    width:100% ;
    position: absolute;
    left: 0;
    right: 0;
}
 /*position: absolute; div text*/
.image h1{
    padding-top:145px ;    
    position: relative;
    color: white;
    text-align: center;
   /* text-transform: uppercase*/;

}
.image p{
    position: relative;
    color: white;
    text-align: center;
}
.about{
    width: 100%;
    position: relative;
    left: 0;
    margin-top: 10px;
  
   
}

.about h1{
    padding-top: 40px;
    text-align: center;  
    color: #0b3545;
    padding-bottom: 40px;
}
.options{
   
    width: 100%;
    position: absolute;
   
}
.option{
    padding-left: 55px; /*padding left and right to make it in center*/
    padding-right: 55px;
    width: 25%;
    text-align: center;   
    float: left;  
    left: 0px;
    right: 0px;
    
}

.option img{
    width: 60px;
    height: 60px;    
    border-radius: 30px ;
}


/*about_2 start*/
.about_2{
    width: 100%;
    position:relative;
    left: 0;
    margin-top: 380px;
    background-color: rgba(243, 239, 239, 0.904);
    
    
    
}
.about_2 h1{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #04635c;  
    
       

}
.projects{

    width: 100%;
 
  
   
}
.project{
    padding-left: 55px;
    padding-right: 55px;     
    width: 25%;   
    text-align: left;   
    float: left;
    
}

.project img{
    width:310px;
    height: 180px;
  
}
.project h4{
    color: #04635c; 
}
.project p{
    padding-bottom: 60px;
}

/*about_3 start*/
.you_get{
    position: relative;


   
  
   
}
.you_get .get_image{
    width: 100%;
    height: 70%;
    margin:0px;

    
  
    
}

.icon img{
    background-color: white;    
    width: 40px;
    height: 40px;
    border-radius: 50%;
  
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;         
    background-color: #e6905a;
    opacity: .7;
   
   
}
.get_box{
   
    width: 25%;
    text-align: center;   
    float: left;
    padding-top: 10px;
    padding-left: 55px;
    padding-right: 55px;    
    color: white;
}

.youget_text{
    position: absolute;
    top: 6%;
    right: 10px;
    left: 10px;
 
    
}
.youget_text h1{
    text-transform: capitalize;
    color: white;
    text-align: center;

    margin-bottom: 5%;
    
   
}





/*about_4 start*/
.about_4{
    width: 100%;
    position:relative;
    left: 0;
   
    
   
    
   
    
}

.about_4 h1{
    padding-top: 40px;
    text-align: center;  
    color: #0b3545 ;
    padding-bottom: 40px;
   
    
}
.customers{

    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
   
}
.customer{
    padding-left: 55px; 
    padding-right: 55px;
    width: 16%;
    text-align: left;   
    float: left;
   
}

.customer img{
    width:190px;
    height:190px;
    
 
}

/*footer start*/
.footer{
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    margin-top: 500px;
  
 
     
    
}


.footer-4{
    position: absolute;
    background-color: #0b3545;  
    
}

.footer h4{
    padding-top: 40px;
    text-align: left;   
    color: #e6905a;
    padding-bottom: 40px;
   
    
}
.footer p{
    color: white;
}
.footer-dives{
    width: 16%;
    float: left; 
    padding-left: 55px; 
    padding-right: 55px; 
    text-align: left;       
    padding-bottom: 40px;
    
}
 .table-div h4{
    padding-left: 5px; 
}
.footer-dives table{
    color: white;
    border-spacing: 6px;
}
.social h4{
    padding-left: 2px;
}
.social_icons{
   
    margin-left: 5px;  
    margin-right: 20px;  
      
    float: left;
    background-color: #e6905a;
    border-radius: 50%;
    width: 45px;
    height:45px;
   
  
  
}

.social_icons img{
    width: 20px;
    height: 20px;
    margin: 12px;



}

@media(max-width:500px)
{.option{
    width: 100%;
    float: none;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px; 
    margin-bottom: 40px;
    font-size: 11px;
    
    
}
.about h1{
   font-size: 20px;
   text-align: center;
  
 
}
.about{
   margin-top: 400px;
}
    .project{
    width: 100%;
    float: none;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px; 
    margin-bottom: 40px;
    font-size: 11px;
    
}
.about_2{
   margin-top: 580px;
}
.about_2 h1{
   font-size: 20px
}
  .get_box{
        width: 100%;
        float: none;
        text-align: center;
        padding-left: 0px; 
        padding-right: 0px;
        margin-bottom: 40px;
        font-size: 11px;
        
   }
   .you_get{
       margin-top: -40px;
   }
   .youget_text h1{
       font-size: 20px
   }
     .customer{
    width: 100%;
    float: none;
    text-align: center;
    padding-left: 0;
    padding-right: 0;    
    margin-bottom: 40px;
    font-size: 11px;
    
}
.about_4{
   margin-top: 10px;
   margin-bottom: 1310px;
  
   
}
.about_4 h1{
   font-size: 20px
}

.footer-dives table{
   
    font-size: 11px;
}
.footer-dives {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    padding-bottom: 40px;
}
.social_icons{
    float: none;
    
    
}
.footer-4{
    padding-bottom: 400px;
    font-size: 11px;
  
   
}

     
}
@media(max-width:768px)
{  .option{
    
     float: none;
     text-align: center;
    
     padding-left: 0;
     padding-right: 0;
     width: 100%;
     margin-bottom: 40px;
    
     
     
}
.about h1{
    font-size: 20px;
    text-align: center;
   
  
}
.about{
    margin-top: 500px;
}
}
